.Input {
  width: 95%;
  height: 40px;
  padding-left: 20px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  overflow: hidden;
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .Input {
    width: 80%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1500px) {
  .Input {
    width: 60%;
  }
}
@media screen and (min-width: 1500px) {
  .Input {
    width: 35%;
  }
}
